.container {
    height: 100%;
    background-color: #18bc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 32px;
}

.row-container {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.titulos-primarios {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.projeto {
    justify-content: center;
    display: flex;
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 0.5rem;
    color: #18bc9c;
    font-weight: bold;
}

.titulos-secundarios {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.icones {
    color: black;
    margin-top: 8px;
    padding: 10px;
}

.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

h3 {
    font-weight: 500;
    line-height: 1.2rem;
    font-size: 1.75rem;
    margin-bottom: 0;
}

h4 {
    font-weight: 500;
    line-height: 1.2rem;
    font-size: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

.btn-direita {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: #1888bc70;
    border: none;
    cursor: pointer;
    
}
.btn-direita:hover{
    background-color: #16a488ab;
}

.floating-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}


@media (max-width: 768px) {
    .titulos-primarios {
      font-size: 2rem;
    }
  
    .projeto {
      font-size: 1.5rem;
    }
  
    .titulos-secundarios {
      font-size: 1rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    h4 {
      font-size: 1rem;
    }
  
    .btn-direita {
      width: 40px;
      height: 30px;
    }
  }