.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
    column-gap: 10px;

}

.grid-item {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.btn-green {
    color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-green:hover {
    background-color: #28a745 !important;
    color: white !important;
}
.btn-azul {
    color: #007bff  !important;
    border-color: #007bff  !important;
}

.btn-azul:hover {
    background-color: #007bff  !important;
    color: white !important;
}
.card-content{
    height: 150px;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, auto);
    }

    
}